.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warningMessage {
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
  color: red;
  font-size: 1.2rem;
  position: relative;
}

.warningIcon {
  color: rgb(209, 209, 30);
  font-size: 2rem;
  position: absolute;
  left: -30px;
  top: -5px;
}

.cancelButton {
  background-color: unset;
  border: 1px solid black;
  padding: 8px;
  font-size: 1rem;
  margin-left: 20px;
  cursor: pointer;
}

.deleteButton {
  background-color: unset;
  border: 1px solid red;
  background-color: red;
  color: #fff;
  font-size: 1rem;
  padding: 8px;
  margin-left: 20px;
  cursor: pointer;
}
